*{
    margin: 0;
    padding: 0;
}
    .container{
        width: 100%;
        min-height: 100vh;
    background: rgba(0, 0, 0,0.7) url(images/university.jpg);
    background-size: cover;
    background-blend-mode:darken ;

}
nav{
   
   
    width: 100%;
    display: flex;
   
    justify-content: flex-end;
    padding: 10px 0;
    position: absolute;
    top:0;
    right:0;
    
}
h1{
    display: flex;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
    justify-content: space-between;
    left: 40px;    
}
nav ul li{
    
    list-style: none;
    display: inline-block;
}
i{
    color: white;
    font-size: 40px;
    position:absolute;
    left: 20px;
    top: 10px;
}
.akka{
    font-size: 40px;
    position:absolute;
    left: 80px;
    top: 10px;
}
.title{
    color: white;
    font-size: 60px;
    position:absolute;
    
    left: 400px;
    top: 200px;

}
h3{
    color: white;
    position:absolute;
    
    left: 460px;
    top: 270px

}
.visit{
    position:absolute;
    left: 600px;
    top: 370px;
   
    padding: 20px;
    background-color: transparent;
    color: white;
    border-color: white;
    font-size:15px;
    cursor: pointer;
    
}
.dash1{
    position:absolute;
    left: 560px;
    top: 379px;
    color: white;
    font-size: 22px;
}
.dash2{
    position:absolute;
    left: 801px;
    top: 379px;
    color: white;
    font-size: 22px;
}





/* -------------------------------------------------SecondSlide-------------------------------------------------*/





.secondslide {
 
    
    background: aliceblue;
    min-height: 100vh;
    


}

.secondslidetitle{
    font-family: "Noto Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 50px;
}

.secondslidetitle h1,p{
    color: black;
}

.secondslideimage { 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.secondslideimagecontainer{
    position: relative;
    display: inline-block;
    margin: 0%;
    padding: 0%;
    width: 500px;

}

.secondslideimagecontainer img {

    width: 80%;
    border-radius: 10px;
}

.secondslideimagecontainer  a {
    font-family: "Noto Sans", sans-serif;
    font-size: large;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%); 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none;
    
}

.secondslideimagecontainer:hover img{
    opacity: 0.6;
}

.secondslideimagecontainer:hover a {
    display: block;     
}
/*-------------------------------------third slide----------------------------------------*/

.thirdslide{
    background: aliceblue;
    min-height: 100vh;
    
}
.thirdslidetitle{
    font-family: "Noto Sans", sans-serif;
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thirdslidetitle h1{

    color: black;
    font-size: 40px;
    margin-bottom: 20px;
   
}
.f1{
    color:green;
}


.thirdslidetitle p{
    color: gray;
    font-size: 20px;
    
}

.thirdslideimage{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;

}
.thirdslideimagecontainer{
    display: inline-block;
    padding: 2rem;
    
}

.fac1{
    width: 400px;
    border-radius: 20px;
    transition: transform 0.3s;
}

.fac1:hover{
    transform: scale(1.1);
}

.fac2:hover{
    transform: scale(1.1);
}

.fac3:hover{
    transform: scale(1.1);
}

.fac2{
    width: 400px;
    transition: transform 0.3s;
    border-radius: 20px;


}
.fac3{
    width: 400px;
    transition: transform 0.3s;
    border-radius: 20px;

}

.h11,.h22,.h33{
    color: black;
    font-family: "Noto Sans", sans-serif;
}

.p11,.p22,.p33{
    color: black;
    font-family: "Noto Sans", sans-serif;
}